.quote {
  .logo {
    height: 1.1rem;
    margin-bottom: 1rem;
  }
}

.vh33 {
  min-height: 33vh;
}

.vh50 {
  min-height: 50vh;
}

.vh75 {
  min-height: 75vh;
}

.vh100 {
  min-height: 100vh;
}

.no-pointer-events {
  pointer-events: none;
}