#cookie-agreement {
  display: none;
  position: fixed;
  bottom: 0;
  padding: 0.3rem 5rem;
  background-color: _palette(color6);
  z-index: 2;
  font-size: 0.7rem;
  border-top: 1px solid #ccc;
  width: 100%;

  .content {
    padding: 0;
  }

  .actions {
    margin: 0;
  }

  .button {
    margin-top: 0.3rem;
    font-size: 0.5rem;
  }

  html.missing-cookie-agreement & {
    display: block;
  }
}